.song-container{
  border: 3px solid green;
  width: 40%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(red, yellow, green);
}

h2 {
  align-self: center;
}

.song-detail{
  align-self:center;
  margin: 2%;

}

h3{
  align-self: center;
  border: 2px solid red;
  text-align: center;
}

h4{
  align-content: center;
  border: 2px solid red;
  text-align: center;
}

p {
  align-self: center;
  text-align:center;


}
